{% extends "mainApp/index.html" %}
{% block content %}
    <script>
        window.onload = function () {
            if (document.getElementById('txtIn').value === "")
                document.getElementById("clear").style.display = "none";
            else
                document.getElementById("clear").style.display = "block";
        };

        function getRandomInt(max) {
            return Math.floor(Math.random() * Math.floor(max));
        }

        function readFile(object) {
            var file = object.files[0]
            var reader = new FileReader()
            reader.onload = function () {
                document.getElementById('txtIn').value = reader.result
            }
            reader.readAsText(file)
            document.getElementById("clear").style.display = "block";
        }

        function randomMe() {
            var randomstr = ""
            for (var i = 0; i < getRandomInt(100); i++) {
                for (var j = 0; j < getRandomInt(100); j++) {
                    randomstr += getRandomInt(1000) + " "
                }
            }
            randomstr = randomstr.slice(0, -1)
            document.getElementById('txtIn').value = randomstr
            SortMe()
        }

        function compareNumbers(a, b) {
            return a - b;
        }

        function SortMe() {
            var res = ""
            var arr = document.getElementById('txtIn').value
            arr = arr.replace(/, /g, " ")
            document.getElementById('txtIn').value = arr
            arr = arr.split(' ')
            arr.sort(compareNumbers)
            for (var i = 0; i < arr.length; i++) {
                res += arr[i] + " "
            }
            res = res.replace(/,/g, " ")
            res = res.slice(0, -1)
            res = res.replace(/  /g, " ")
            res = res.replace(/^\s*(.*)\s*$/, '$1')
            document.getElementById('txtIn').value = res
            document.getElementById("clear").style.display = "block";
        }

        function ClearAll() {
            document.getElementById('txtIn').value = ""
            document.getElementById('txtInSub').value = ""
            document.getElementById("clear").style.display = "none";
        }
    </script>
    <div class="container mt-5">
        <div class="row">
            <div class="col-5">
                <h1>Входной массив:</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    <textarea id="txtIn" class="form-control" name="inputarray" placeholder="Введите строку"
                              rows="1">{{ random }}</textarea>
                    <textarea id="txtInSub" class="mt-2 form-control" name="inputsubstring"
                              placeholder="Введите подстроку" rows="1">{{ random }}</textarea>

                    <div class="mt-2 lel">
                        <button class="mr-1 btn btn-danger" type="submit" name="send" onclick="SortMe()">Найти</button>
                        <aa class="mr-1 btn btn-primary" name="random" value="Рандом" type="submit"
                            onclick="randomMe()">Рандом
                        </aa>
                        <input class="mr-1 btn btn-info" id="clear" type="button" name="removeAll" onclick="ClearAll()"
                               value="Очистить поля">
                        <div class="mt-2">
                            <input type="checkbox" id="noShow" name="checkbox" checked>
                            <label for="noShow">Только время</label>
                        </div>
                    </div>
                </form>
                <br>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="fileIn">
                        <label class="custom-file-label" for="fileIn">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-primary" onclick="readFile(document.getElementById('fileIn'));">Upload
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}