<div class="col-66 offset-1">
    <h1>Выходной массив: </h1>
    <div class="alert alert-info">
        <div class="row">
            <div class="col-900">
                <b>Shellsort:</b><br>
                <b>Время затрачено:</b> {{ time_shell }} <br><br>
                <b>QuickSort:</b><br>
                <b>Время затрачено:</b> {{ time_quick }} <br><br>
                <b>Стандартная соритровка:</b><br>
                <b>Время затрачено:</b> {{ time_sort }} <br><br>
                <b>Общее время:</b> {{ time_all }}<br>
            </div>
        </div>
    </div>
</div>