{% extends "mainApp/index.html" %}
{% block content %}
    {% load static %}
    <script src="{% static "scriptlab2.js" %}"></script>
    <div class="container mt-5">
        <div class="row">
            <div class="col-5">
                <h1>Входной массив:</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    <input id="txtIn" class="form-control" name="inputarray"
                           placeholder="Введите массив">{{ random }}</input>
                    <div class="input-group">
                        <input id="charIn" class="mt-2 col-2 form-control" name="inputchar"
                               title="Введите число для поиска">{{ random }}</input>
                        <input class="ml-2 mt-2 btn btn-info" id="clear" name="removeAll" type="button"
                               value="Очистить поля" onclick="ClearAll()">
                    </div>
                    <input class="btn btn-danger" type="submit" name="send" value="Найти" onclick="SortMe()">
                    <aa class="btn btn-primary" name="random" value="Рандом" type="submit" onclick="randomMe()">Рандом
                    </aa>
                    <div class="mt-2 btn">
                        <input type="checkbox" id="noShow" name="checkbox" checked>
                        <label for="noShow">Только время</label>
                    </div>
                </form>
                <br>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="fileIn">
                        <label class="custom-file-label" for="fileIn">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-primary" onclick="readFile(document.getElementById('fileIn'));">Upload
                        </button>
                    </div>
                </div>
            </div>
            {% if short == 'true' %}
                {% include 'lab2res.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}