<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Погодное приложение</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-5">
            <h1>Входной массив</h1>
            <form action="" method="post">
                {% csrf_token %}
                <!--                <input type="text" id="txtIn" class="form-control" name="inputarray" placeholder="Введите массив">-->
                <textarea id="txtIn" class="form-control" cols="50" rows="10" name="inputarray"
                          placeholder="Введите массив"></textarea>
                <input type="submit" name="send" value="Добавить" class="mt-2 btn btn-danger">
            </form>
        </div>
        <div class="col-5 offset-1">
            <h1>Выходной массив: </h1>
            {% for j in i %}
            <div class="alert alert-info">
                <div class="row">
                    <div class="col-900">
                        <b>Исходный массив:</b><br>
                        <script>document.write({{ main_arr|safe }})</script>
                        <br>
                        {% if j == 's' %}
                        <b>Отсортированный:</b><br>
                        <script>document.write({{ res_arr_shell|safe }})</script>
                        <br>
                        <b>Время затрачено:</b> {{ time_shell }}
                        {% endif %}
                        {% if j == 'q' %}
                        <b>Отсортированный:</b><br>
                        <script>document.write({{ res_arr_quick|safe }})</script>
                        <br>
                        <b>Время затрачено:</b> {{ time_shell }}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>